@{
    ViewBag.Title = "About";
}
    <div style="width:70%; margin: 0 auto;" >
        <div>
            <h1 style="text-align:center;">Short History</h1>
            <br />
            <p>Josef Rodenstock's belief was that vision defects are not a disease but can be corrected by using the right glasses. He developed his first viewing glasses in 1880 and they immediately started selling very well. From then until today, Rodenstock stock glasses are not cheap and compared to the ready-made glasses, common at that time, they were tried and made separately for each user of glasses.</p>
            <br />
        </div>
        <div>
            <h1 style="text-align:center;">About the Company</h1>
            <br />
            <p>
                Rodenstock is a leading German manufacturer of ophthalmic glasses and eyeglass frames. The company was founded in 1877 in Munich and now has over 4,000 employees worldwide, represented in over 80 countries with sales centers and distribution partners. Rodenstock maintains ophthalmic glass production in a total of 14 locations in 12 countries. One of them is our store which was founded in 2011.
            </p>
            <br />
        </div>
        <div>
            <h1 style="text-align:center;">About the Products</h1>
            <p>For the first time in Macedonia, Rodenstock authorized optics offers you all products from this company such as:</p>
            <ul>
                <li>monofocal glasses</li>
                <li>near and far glasses</li>
                <li>for office</li>
                <li>colored glasses</li>
                <li>with anti-reflective coating</li>
                <li>collections of Rodenstock glasses, Boris Becker and more</li>
            </ul>
            <br />
            <p>High quality contact lenses:</p>
            <ul>
                <li>colored, without and with diopter</li>
                <li>daily, monthly, annual</li>
                <li>soft, semi-hard, hard</li>
                <li>hydrogel, gas permeable</li>
            </ul>
        </div>
    </div>