
@{
    ViewBag.Title = "Home Page";
}
<style>
    #button {
        display: flex;
        justify-content: center;
        border-radius: 30px;
        height: 60px;
        color: #333333;
        margin-top: 50px;
        background-color: whitesmoke;
        border: solid 1px lightgray;
    }
</style>
<div style="margin: 0 auto; width: 500px; text-align:center;">
    <h1 style="margin-top: 80px;">Welcome to our online store!</h1>
    <img src="~/Images/see better look perfect.jpg" style="margin-top: 50px;" />
    <a id="button" href="#" ><h2 style="display: block;">Browse for your new glasses</h2></a>
</div>